<div class="jumbotron">

    <% @photos.each do |photo| %>
        <%= image_tag photo.image.url (:medium) %>
        <%= photo.description %>
        <%= photo.user.email if photo.user %>        
        <%= link_to 'Показать', photo %>

        <% if photo.user == current_user %> <!-- проверяет принодлежность к пользоветелю и включает кнопку-->
            <%= link_to 'Изменить', edit_photo_path(photo) %>          
            <%= link_to 'Удалить', photo, method: :delete, data: { confirm: 'Are you sure?' } %>  
        <% end %>       
    <% end %>
 

   <br>
    <% if user_signed_in? %>
      <%= link_to 'Новое фото', new_photo_path, class:"btn btn-primary" %>
   <% end %>
</div>
