<div class="card photo-form">
  
  <div class="card-body">

<p>
<%= image_tag @photo.image.url %>
  <strong>название:</strong>
  <%= @photo.description %>
   <br>

 <strong>почта:</strong>
  <%= @photo.user.email if @photo.user %>
</p>

<% if @photo.user == current_user %><%= link_to 'Изменить', edit_photo_path(@photo) %> |<% end %>
<%= link_to 'Назад', photos_path %>
 </div>
</div>