<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>
<body>

      <div class="container-fluid container-background">
        
        <div class="container">
         <ul class="nav">
           <li class="nav-item">
            <%= link_to "Изображения", root_path, class:'nav-landing' %>,
           </li>

           <li class="nav-item">
            <%= link_to "О проекте", pages_about_path, class:'nav-landing' %>
           </li>
         </ul>
        <%= yield %>
       </div>

     <body>
  </html>