<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
     
     <% if user_signed_in? %>
      <div class="container-fluid container-bar fon-user">

      <%else%>
      <div class="container-fluid container-background container-bar">
      <%end%>

      <%= render "layouts/navigation" %>
        <div class="container">

      


         
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>

        <%= yield %>
       </div>
     <body>
  </html>